
@{
    ViewBag.Title = "ControlPanel";
}


<div id="container">
    <div class="shell">
        
        <div id="main">
            <div class="cl">&nbsp;</div>

            <div id="content">

                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head-listing">
                        <h3 class="left">Dashboard</h3>
                        <div class="right">
                            <label>search messages</label>
                            <input type="text" class="field small-field" />
                        </div>
                    </div>

                    <div class="table">
                        <table width="100" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="13"><input type="checkbox" class="checkbox" /></th>
                                <th>First Name</th> <!-- Row Name-->
                                <th>Last Name</th>
                                <th>Country</th>
                                <th>Subject</th>
                                <th width="110" class="ac">Content Control</th>
                            </tr>

                            <tr>
                                <td><input type="checkbox" class="checkbox" /></td>
                                <td>da</td>
                                <td>be</td>
                                <td>da</td>
                                <td>tova e text</td>
                             
                            </tr>
                           
                        </table>
                        
                    </div>
                    
                </div>
                
            </div>
            <!-- End Box -->


            <!-- End Content -->
            <!-- Sidebar -->
            <div id="sidebar">
                <!-- Box -->
                <div class="box">

                    <!-- Box Head -->
                    <div class="box-head-btns">
                        <h1>Management Panel</h1>
                    </div>
                    <!-- End Box Head-->

                    <div class="box-content">

                                                    
                        @Html.ActionLink("Messeges", "ControlPanel", "ControlPanel", htmlAttributes: new { @class = "cp-dropdown-btn" })
                           
                        @Html.ActionLink("Vehicle Management", "Index", "Vehicle", routeValues: new { area = "Vehicle" }, htmlAttributes: new { @class = "cp-dropdown-btn" })
                            
                        @Html.ActionLink("Booking Status", "ControlPanel", "ControlPanel", htmlAttributes: new { @class = "cp-dropdown-btn" })
                            
                        @Html.ActionLink("Rent Price", "ControlPanel", "ControlPanel", htmlAttributes: new { @class = "cp-dropdown-btn" })
                           
                        @Html.ActionLink("Penalty", "ControlPanel", "ControlPanel", htmlAttributes: new { @class = "cp-dropdown-btn" })
                           
                        @Html.ActionLink("Country", "Index", "Country", routeValues: new { area = "Country" }, htmlAttributes: new { @class = "cp-dropdown-btn" })
                            
                        @Html.ActionLink("City", "Index", "City", routeValues: new { area = "City" }, htmlAttributes: new { @class = "cp-dropdown-btn" })
                      
                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Sidebar -->

            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
<!-- End Container -->